$base-font: Verdana;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $base-font;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

strong{
    font-weight: bolder;
    font-size: 2em;
}

#results{
    div {
        span {
            color: red;
        }
        padding-bottom:10px;
    }
    border: 1px solid;
    padding: 15px;
}
